{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Phonebook</h1>
            <p>A simple a nice phonebook.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign in &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Easy</h2>
                <p>Create, Edit and Delete your contacts</p>
            </div>
            <div class="col-md-4">
                <h2>Confort</h2>
                <p>Simple pagination.</p>
            </div>
            <div class="col-md-4">
                <h2>Verstatil</h2>
                <p>Quick search.</p>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Carlos Salvatierra @cslucano</p>
        </footer>
    </div> <!-- /container -->
{% endblock %}
